# Homework 2: Arrays and Tables

Please complete this notebook by filling in the cells provided. When youâ€™re done select `Run All` from the `Cell` menu to ensure that you have executed all cells. Also make sure you save the provided data files in the same location as your homework notebook.

This assignment is due Monday, March 9 at 11:55PM. Directly sharing answers is not okay, but discussing problems with your instructor or with other students is encouraged.

Reading:
- Textbook chapters [4](http://www.inferentialthinking.com/chapters/04/data-types.html), [5](https://www.inferentialthinking.com/chapters/05/Sequences.html), and [6](https://www.inferentialthinking.com/chapters/06/Tables.html)

Run the cell below to prepare the notebook.

In [4]:
# Run this cell to set up the notebook
import numpy as np
from datascience import *
import math

## 1. Creating Arrays

**Question 1.** Make an array called `weird_numbers` containing the following numbers (in the given order):

1. -2
2. the sine of 1.2
3. 3
4. 5 to the power of the cosine of 1.2

*Hint:* `sin` and `cos` are functions in the `math` module.

In [7]:
# Our solution involved one extra line of code before creating
# weird_numbers.

weird_numbers = make_array(-2,math.sin(1.2),3,5**math.cos(1.2))
weird_numbers

array([-2.        ,  0.93203909,  3.        ,  1.79174913])

**Question 2.** Make an array called `book_title_words` containing the following three strings: "Eats", "Shoots", and "and Leaves".

In [10]:
book_title_words = make_array("Eats","Shoots", "and Leaves")
book_title_words

array(['Eats', 'Shoots', 'and Leaves'], dtype='<U10')

Strings have a method called `join`.  `join` takes one argument, an array of strings.  It returns a single string.  Specifically, the value of `a_string.join(an_array)` is a single string that's the [concatenation](https://en.wikipedia.org/wiki/Concatenation) ("putting together") of all the strings in `an_array`, **except** `a_string` is inserted in between each string

**Question 3.** Use the array `book_title_words` and the method `join` to make two strings:

1. "Eats, Shoots, and Leaves" (call this one `with_commas`)
2. "Eats Shoots and Leaves" (call this one `without_commas`)

*Hint:* If you're not sure what `join` does, first try just calling, for example, `"foo".join(book_title_words)` .

In [11]:
"foo".join(book_title_words)

'EatsfooShootsfooand Leaves'

In [14]:
with_commas = ",".join(book_title_words)
without_commas = " ".join(book_title_words)

# These lines are provided just to print out your answers.
print('with_commas:', with_commas)
print('without_commas:', without_commas)

with_commas: Eats,Shoots,and Leaves
without_commas: Eats Shoots and Leaves

## 2. Indexing Arrays

These exercises give you practice accessing individual elements of arrays.  In Python (and in many programming languages), elements are accessed by *index*, so the first element is the element at index 0.  Unfortunately, this small detail can cause a disproportionate amount of confusion.  So it's useful to practice indexing arrays, even if it's not a particularly important concept.

**Question 1.** The cell below creates an array of some numbers.  Set `third_element` to the third element of `some_numbers`.

In [15]:
some_numbers = make_array(-1, -3, -6, -10, -15)

third_element = some_numbers.item(2)
third_element

-6

**Question 2.** The next cell creates a table that displays some information about the elements of `some_numbers` and their order.  Run the cell to see the partially-completed table, then fill in the missing information in the cell (the strings that are currently "???") to complete the table.

In [18]:
elements_of_some_numbers = Table().with_columns(
    "English name for position", make_array("first", "second", "third", "fourth", "fifth"),
    "Index",                     make_array("0", "1", "2", "3", "4"),
    "Element",                   some_numbers)
elements_of_some_numbers

English name for position | Index | Element
first                     | 0     | -1
second                    | 1     | -3
third                     | 2     | -6
fourth                    | 3     | -10
fifth                     | 4     | -15

**Question 3.** You'll sometimes want to find the *last* element of an array.  Suppose an array has 142 elements.  What is the index of its last element?

In [ ]:
index_of_last_element = 141

More often, you don't know the number of elements in an array, its *length*.  (For example, it might be a large dataset you found on the internet.)  The function `len` takes a single argument, an array, and returns the `len`gth of that array (an integer).

**Question 4.** The cell below loads an array `population_densities`. It reports the number of people per square km in each city. Find the density of the last city and also the `highest_density` that has been reported in the array.

In [21]:
population_densities = Table.read_table("tr_population.csv").column('yogunluk')

last_density = population_densities.item(len(population_densities)-1)
highest_density = max(population_densities)
print('highest density:',highest_density)
print('last density', last_density)

highest density: 2710.88
last density 178.79

## 3. Studying the Survivors

The Reverend Henry Whitehead was skeptical of John Snowâ€™s conclusion about the Broad Street pump. After the Broad Street cholera epidemic ended, Whitehead set about trying to prove Snow wrong.  (The history of the event is detailed [here](http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1034367/pdf/medhist00183-0026.pdf).)

He realized that Snow had focused his analysis almost entirely on those who had died. Whitehead, therefore, investigated the drinking habits of people in the Broad Street area who had not died in the outbreak.

Why was it important to study this group?

If Whitehead had found that many people had drunk water from the Broad Street pump and not caught cholera, that would have been evidence against Snowâ€™s hypothesis.

**Note:** Far from disproving Snowâ€™s claim, Whitehead ended up finding further proof that the Broad Street pump played the central role in spreading the disease to the people who lived near it. Eventually, he became one of Snowâ€™s greatest defenders.

## 4. Flipping Coins

4 fair coins are flipped. what's the chance that all of the coins comes up heads?

("Fair" means that there's a 50% chance the coin lands heads and a 50% chance it lands tails, and all the coins are independent of each other.)

A single coin has 2 outcomes, `"H"` and `"T"`.  When you add a coin to any set of coins, that *multiplies* the number of potential outcomes by 2, because for each potential outcome there was before, there are now 2 potential outcomes: one where the new coin is heads, and one where the new coin is tails. 

**Question 1.** Compute the number of outcomes for 4 coins.  **Use the exponentiation (**`**`**) operator.**

In [24]:
num_outcomes_4_coins = 2**4
num_outcomes_4_coins

16

**Question 2.** Suppose different numbers of coins are used.  Compute the number of outcomes for h 1 coin, for 2 coins, for 3 coins, and so on, up to 50 coins.  Put the results in an array called `num_outcomes`.  (So your answer should look like `array([2, 4, 8, 16, ...])`.)

*Hint:* Don't write an expression and copy it 50 times!  Instead, think about the formula for each entry of the array you want, and use array arithmetic to implement that formula.

In [26]:
num_outcomes = 2**np.arange(1,51,1)
num_outcomes

array([               2,                4,                8,
                     16,               32,               64,
                    128,              256,              512,
                   1024,             2048,             4096,
                   8192,            16384,            32768,
                  65536,           131072,           262144,
                 524288,          1048576,          2097152,
                4194304,          8388608,         16777216,
               33554432,         67108864,        134217728,
              268435456,        536870912,       1073741824,
             2147483648,       4294967296,       8589934592,
            17179869184,      34359738368,      68719476736,
           137438953472,     274877906944,     549755813888,
          1099511627776,    2199023255552,    4398046511104,
          8796093022208,   17592186044416,   35184372088832,
         70368744177664,  140737488355328,  281474976710656,
        562949953421312, 1125899906842624])

## 5. Tables

**Question 1.** Suppose you have 4 apples, 3 oranges, and 3 pineapples.  (Perhaps you're using Python to solve a high school Algebra problem.)  Create a table that contains this information.  It should have two columns: "fruit name" and "count".  Give it the name `fruits`.

**Note:** Use lower-case and singular words for the name of each fruit, like `"apple"`.

In [10]:
# Our solution uses 1 statement split over 3 lines for readability.
# Of course, you can complete the question however you like.
fruits = Table().with_columns(
    "fruit name", make_array("apple", "orange", "pineapple"),
    "count",    make_array("4", "3", "3"))
fruits

fruit name | count
apple      | 4
orange     | 3
pineapple  | 3

**Question 2.** The file `inventory.csv` contains information about the inventory at a fruit stand.  Each row represents the contents of one box of fruit.  Load it as a table named `inventory`.

In [30]:
inventory = Table.read_table("inventory.csv")
inventory

box ID | fruit name | count
53686  | kiwi       | 45
57181  | strawberry | 123
25274  | apple      | 20
48800  | orange     | 35
26187  | strawberry | 255
57930  | grape      | 517
52357  | strawberry | 102
43566  | peach      | 40

**Question 3.** Does each box at the fruit stand contain a different fruit?

No it doesnt contain a different fruit. There are 3 strawberry box

**Question 4.** The file `sales.csv` contains the number of fruit sold from each box last Saturday.  It has an extra column called "price per fruit (\$)" that's the price *per item of fruit* for fruit in that box.  The rows are in the same order as the `inventory` table.  Load these data into a table called `sales`.

In [31]:
sales = Table.read_table("sales.csv")
sales

box ID | fruit name | count sold | price per fruit ($)
53686  | kiwi       | 3          | 0.5
57181  | strawberry | 101        | 0.2
25274  | apple      | 0          | 0.8
48800  | orange     | 35         | 0.6
26187  | strawberry | 25         | 0.15
57930  | grape      | 355        | 0.06
52357  | strawberry | 102        | 0.25
43566  | peach      | 17         | 0.8

**Question 5.** How many fruits did the store sell in total on that day?

In [33]:
total_fruits_sold = sum(sales.column("count sold"))
total_fruits_sold

638

**Question 6.** What was the store's total revenue (the total price of all fruits sold) on that day?

*Hint:* If you're stuck, think first about how you would compute the total revenue from just the grape sales.

In [37]:
total_revenue = sum(sales.column("count sold")* sales.column("price per fruit ($)"))
total_revenue

106.85

**Question 7.** Make a new table called `remaining_inventory`.  It should have the same rows and columns as `inventory`, except that the amount of fruit sold from each box should be subtracted from that box's count, so that the "count" is the amount of fruit remaining after Saturday.

In [14]:
remaining_inventory = Table.read_table("inventory.csv")

count_array=inventory.column("count")
sold_array=sales.column("count sold")
remaining_array=count_array-sold_array

remaining_inventory=remaining_inventory.with_column('sold', sales.column("count sold"))
remaining_inventory=remaining_inventory.with_column('remaining count', remaining_array)

## OR

## remaining_inventory=remaining_inventory.with_column('remaining count', inventory.column('count')-sales.column("count sold"))

remaining_inventory

NameError: name 'inventory' is not defined